<div class="container mt-4" *ngIf="claimGroups.length === 0">
  <div class="modal-backdrop show" *ngIf="busy"></div>
  <div class="modal show d-flex justify-content-center align-items-center" *ngIf="busy">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  <form [formGroup]="directoryForm" (ngSubmit)="onSubmit()" *ngIf="authService.isLoggedIn$ | async; else notLoggedInTemplate">
    <div class="mb-3">
      <label for="directoryPath" class="form-label">Directory Path</label>
      <input type="text"
            id="directoryPath"
            class="form-control"
            [class.is-invalid]="directoryForm.get('directoryPath')?.invalid && directoryForm.get('directoryPath')?.touched"
            formControlName="directoryPath"
            placeholder="C:\Temp\MyFolder">
      <div class="form-text">
        Specify full path to folder containing distribution file, i.e. C:\Temp\MyFolder
      </div>
      <div *ngIf="directoryForm.get('directoryPath')?.errors?.required && directoryForm.get('directoryPath')?.touched" class="invalid-feedback">
        <small>Directory path is required.</small>
      </div>
      <div *ngIf="directoryForm.get('directoryPath')?.errors?.directoryNotFound" class="invalid-feedback">
        <small>Directory not found. {{directoryForm.get('directoryPath')?.errors?.directoryNotFound}}</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!directoryForm.get('directoryPath')?.valid">Submit</button>
  </form>
  <ng-template #notLoggedInTemplate>
    <p class="alert alert-info">Please login using MetaMask</p>
  </ng-template>
</div>
<div class="container mt-4" *ngIf="claimGroups.length > 0">
  <div class="modal-backdrop show" *ngIf="busy"></div>
  <div class="modal show d-flex justify-content-center align-items-center" *ngIf="busy">
    <div class="spinner-border text-primary" role="status"></div>
  </div>

  <div class="header">
    <h5>Grouped Claims</h5>
    <div class="options">
      <button type="button" class="btn btn-sm btn-primary" [disabled]="selectedClaimGroups.length === 0" (click)="process()">Process {{selectedClaimGroups.length}} record(s)</button>
      <a class="btn btn-sm btn-secondary" (click)="reset()">&lt;&lt; Go back</a>
    </div>
  </div>
  <app-claim-group-table [failed]="failed" [successful]="successful" [claimGroups]="claimGroups" (selected)="selectionUpdated($event)"></app-claim-group-table>
</div>
